<div class="nav-container">
  <div class="nav-logo" data-route="/main" role="button" tabindex="0">이력서-프로젝트</div>
  <ul class="nav-menu" id="nav-menu">
    <li class="nav-item"><a href="#" data-route="/main">홈</a></li>
    <li class="nav-item"><a href="#" data-route="/about">소개</a></li>
    <li class="nav-item"><a href="#" data-route="/projects">프로젝트</a></li>
    <li class="nav-item"><a href="#" data-route="/contact">연락처</a></li>
  </ul>
  <button class="nav-toggle" id="nav-toggle">☰</button>
</div>
